<!-- @@@@@@@@@@@Footer@@@@@@@@@@@@@@ -->
<footer>
  <div style="min-height: 250px;" class="footer" id="footer-sub">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5> Liens Utils </h5>
          <ul>
            <li><a href="/">accueil</a><hr></li>
            <li><a href="/login">Login</a><hr></li>
            <li><a href="/register">Sign up</a><hr ></li>
            <li><a href="/about">About us</a><hr></li>
            <li><a href="/contact">contact</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <h5> Suivez-Nous </h5>
          <ul>
            <li><a href=""><img style="max-width:18px; margin-top: -7px; margin-right:10px;" src="../assets/images/fb.png">Facebook</a></li>
            <li><a href=""><img style="max-width:18px; margin-top: -7px; margin-right:10px;" src="../assets/images/twitter.png">Twitter</a></li>
            <li><a href=""><img style="max-width:18px; margin-top: -7px; margin-right:10px;" src="../assets/images/linkedin.png">LinkedIn</a></li>
            <li><a href=""><img style="max-width:18px; margin-top: -7px; margin-right:10px;" src="../assets/images/google.png">Google +</a></li>

          </ul>
        </div>

        <div class="col-md-4 ">
          <h5> Coordonnées </h5>
          <ul>
            <li>Easy Maintenance</li>
            <li>INPT <br>
              complément N° 150 -Rabat- <hr></li>
            <li>  Tél: 05 10 20 30 40 <hr></li>
            <li>  Fax: 05 10 20 30 40 <hr></li>


          </ul>
        </div>

      </div>


      <hr style="margin-bottom:0px; margin-top:30px; padding:0px;">
      <div class="row" id="sub-two">

        <div class="col-md-4">
          <div class="vertical-line text-center">
            <a href="position.html"><span class="glyphicon glyphicon-map-marker"></span></a>
            <h4><a href="position.html"> Notre Position</a></h4>
          </div>
        </div>



        <div class="col-md-4">
          <div style="margin:8px;" class="text-center">
            <a href="contact.html"><span class="glyphicon glyphicon-envelope"></span></a>
            <h4 style="color:#6d6c6c;"><a href="contact.html">Contactez-Nous</a></h4>
          </div>
        </div>


      </div>
      <hr style="margin-bottom:30px; margin-top:0px; padding:0px;">



    </div>
  </div>
  <div style="min-height: 50px;" id="footer-main">

    <ul>
      <li><a href="#"><b>Qui sommes-nous</b></a></li>
      <li><a href="#"><b>Nos valeurs</b></a></li>
      <li><a href="#"><b>Contact</b></a></li>
    </ul>

    <div id="social-menu">
      <ul>
        <li><a href=""><img style="max-width:18px; margin-top: -7px;" src="../assets/images/fb.png"></a></li>
        <li><a href=""><img style="max-width:18px; margin-top: -7px;" src="../assets/images/youtube.png"></a></li>
        <li><a href=""><img style="max-width:18px; margin-top: -7px;" src="../assets/images/google.png"></a></li>
      </ul>
    </div>

  </div>
</footer>
