 <mat-toolbar class="toolbar">

  <span routerLink ="/" style="color: #FF4500 ;" > Accueil</span>
  <a *ngIf="!isLogged" routerLink ="/register"  style="color: #494040 ;" > &nbsp;&nbsp; &nbsp;&nbsp; S'inscrire</a>
  <a *ngIf="!isLogged" routerLink ="/login" style="color: #494040 ;" > &nbsp;&nbsp; &nbsp;&nbsp; Se connecter</a>

   <a routerLink ="/about" style="color: #494040 ;" > &nbsp;&nbsp; &nbsp;&nbsp; À propos</a>
   <a routerLink ="/contact" style="color: #494040 ;" > &nbsp;&nbsp; &nbsp;&nbsp; Contactez Nous</a>
   <a   (click)="logout()" *ngIf="isLogged"  > &nbsp;&nbsp; &nbsp;&nbsp; Logout</a>

 </mat-toolbar>
 
 
