.bg {
  background-image: url('/../../assets/images/1.jpg');
  -webkit-background-size: ;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: ;
  width: ;
  height: 100vh;
}

.loginBox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-63%);
  width: 410px;
	height: 310px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}
.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
  width:  350px;
	color: #fff;
	font-size: 20px;
	background: #FF4500;
	cursor: pointer;
	border-radius: 20px;
}



.loginBox input[type="text"],
.loginBox input[type="password"]
{
	background: transparent;
  color: #fff;
}
::placeholder
{
  color: #fff;
}

.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
}
.check
{
	font-size: large;
	color: #fff;
}

