.bg {
  background-image: url('/../../assets/images/1.jpg');
  -webkit-background-size: ;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: ;
  width: ;
  height: 100vh;
}

.loginBox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-45%);
  width: 900px;
	height: 310px;
	padding: 8px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto }

h2,h1
{
  color:#fff;
}