<div class=bg>
  <img src="./assets/images/logo2.png" alt="" height="125" width="270" >
<form class="loginBox">
  <h1 style="text-align:center;"> A propos de EazyMaintenance </h1>
  <h2>
    Vos matériels, logiciels  tombent en panne et vous ne savez pas à quoi faire… vous n’inquiétez pas parce que EazyMaintenace est la convenable solution pour votre situation…EazyMaintenance est une application de gestion de maintenance, vous connecter pour remplir un formulaire en décrivant votre problème afin que nous puisons trouver la solution…C’est assez simple que cela…
     <br><br>Bref EazyMaintenace est faite avec vous et pour vous !!
  </h2>
</form>
</div>
