<div class=bg>
  <img src="./assets/images/logo2.png" alt="" height="125" width="270" >
<form class="loginBox">
  <h1 style="text-align:center;"> Nous Contacter </h1>
  <h2> Si vous avez des questions ou des propositions n'hésiter pas à nous contacter sur:</h2>
   <angular-image-slider [images]="imagesUrl2"></angular-image-slider>
</form>
</div>



   