<div class=bg>
  <br>
  <h1> Ajouter une réclation</h1>
  <div class="vertical-menu" style="align-content: center;">
    <a href="/connection" >Accueil Client</a>
    <a href="/creat" class="active">Ajouter une réclamation </a>
    <a href="/liste">Liste des réclammations</a>
    <a href="#">Recherche des réclammations</a>
  </div>


  <div class="form">
    <form class="loginBox" #reclamationData="ngForm" (ngSubmit)="editReclamation(reclamationData.value, id)">
      <p><label style="padding-top: 20px;">Type de panne:</label> </p>

      <select class="custom-select"  matInput name="type_panne" [(ngModel)]="reclamation.type_panne" >
        <option value="informatique">panne informatique</option>
        <option value="électronique">panne électronique</option>
        <option value="mécanique">panne mécanique</option>
      </select>
      <p>
        <br><label>Description de panne :</label>
        <br><textarea class="form-control text" matInput    type="text" name="description" [(ngModel)]="reclamation.description"></textarea>
      </p>
      <p>
        <label>La date :</label>
        <br><input  class="form-control" matInput   [value]="reclamation.date" type="date" name="date" size="40"/>
      </p>

      <p>
        <label>Priorité:</label>
        <select class="custom-select"  matInput name="disponibilite" [(ngModel)]="reclamation.disponibilite">
            <option value="urgent">urgent</option>
            <option value="moyenne">moyenne</option>

        </select>
      </p>
      <input  type="submit" value="Valider" style="margin-top:10px;">

    </form>
  </div>

</div>



