<div class=bg>
  <br> <br> <br>
  <h1> Bienvenu sur notre application EasyMaintenance ^_^ </h1>
<div class="vertical-menu" style="align-content: center;">
  <a href="#" class="active">Accueil Administrateur</a>
  <a href="#">Liste des utilisateurs </a>
  <a href="#">Liste des techniciens</a>
  <a href="#">Listes des réclamations</a>
  <a href="#">Gestion des comptes</a>
</div>

</div>
