<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


<app-navbar0> </app-navbar0>

<router-outlet></router-outlet>



 <div class=bg>
  <br>
  <img src="./assets/images/logo2.png" alt="" height="125" width="270" >
    <h2> Pourquoi EasyMaintenance ?</h2>
    <angular-image-slider [images]="imagesUrl"></angular-image-slider> <br>
 </div>

<div style="margin-bottom: 20vh; margin-top: 30px;">
 <h2 style="margin-bottom: 30px;"> Nos services </h2>
    <div  class="loginBox">
    <h2> Services de maintenance réseau</h2>
    <p  >EasyMaintenance propose pour votre matériel réseau Cisco et Brocade des services d'assistance, de maintenance et de surveillance non liés à un fournisseur spécifique qui vous assurent des performances et une longévité optimales, et ainsi un retour maximal sur vos investissements. Nos ingénieurs sont à votre disposition 7j/7, 24h/24 et 365j/an pour assurer la maintenance proactive de vos systèmes SAN et commutateurs réseau. Nous pouvons par ailleurs livrer et installer les pièces détachées en seulement quatre heures, partout dans le monde.</p>
    </div>
    <div class="loginBox1">
    <h2> Services de maintenance de stockage</h2>
    <p>EasyMaintenance fournit une gamme complète de services de maintenance de stockage afin de garantir que vos baies, vos systèmes SAN et votre infrastructure convergée continuent de fonctionner de façon optimale. Nous ne sommes liés à aucun fournisseur spécifique, nous pouvons par conséquent intervenir sur les plateformes de stockage de différents FEO, même les dispositifs qui sont officiellement hors garantie, ce qui vous permet d'économiser jusqu'à 70 % sur les frais de maintenance.</p>
    </div>
    <div class="loginBox2">
     <h2 > Pièces détachées et logistique</h2>
       <p>EasyMaintenance a constitué un stock de pièces détachées se montant à plusieurs millions de dh en vue de s'assurer de disposer de toutes les pièces pour tous les systèmes sur lesquels elle intervient au nom de ses clients. Ce stock est réparti entre ses trois filiales internationales pour diminuer encore le temps de livraison sur site des pièces détachées.
  Ce stock exceptionnel est géré par un réseau logistique mondial qui assure la livraison de ces pièces détachées aux sites des clients. Ce sont ensuite nos ingénieurs de terrain qui se chargent d'installer ces pièces sur place, souvent en seulement quatre heures.
        </p>
    </div>
</div>


<div style="margin-top: 500px;">

    <app-footer></app-footer>


</div>

<ngx-alerts></ngx-alerts>
