.bg {
  background-image: url('/../../assets/images/1.jpg');

  -moz-background-size: cover;
  background-size: cover;

  height: 100vh;
}

h2
{ text-align: center;
  color:#FF4500;
  }

img{
    display: block;
    margin-left: auto;
    margin-right: auto }
  
.loginBox
{
	position: absolute;
	width: 420px;
	height: 420px;
	padding: 15px 30px;
	box-sizing: border-box;
	background: rgba(192,192,192,0.3);
}
.loginBox1
{
	position: absolute;
  	top: 112,5%;
	left: 34%;
	width: 420px;
	height: 420px;
	padding: 15px 30px;
	box-sizing: border-box;
	background: rgba(192,192,192,0.3);
}

.loginBox2
{
	position: absolute;
  top: 112,5%;
	left: 68%;
	width: 420px;
	height: 420px;
	padding: 15px 30px;
	box-sizing: border-box;
	background: rgba(192,192,192,0.3);
}
