.bg {
  background-image: url('/../../assets/images/1.jpg');
  -moz-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.vertical-menu-home {
    width: 400px; /* Set a width if you like */
    margin: auto;
    border: 3px solid orange;
    padding: 10px;

}

.vertical-menu-home a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu-home a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu-home a.active {
    background-color: #FF4500 ; /* Add a green color to the "active/current" link */
    color: white;
}

h1{
  color: #FF4500 ;
  text-align:center;
}


