<div class=bg>

  <br> <br> <br>
  <h1> Bienvenue sur notre application EasyMaintenance ^_^ </h1>
  <br>

<div class="vertical-menu-home">
  <a href="/connection" class="active">Accueil Client</a>
  <a href="/creat">Ajouter une réclamation </a>
  <a href="/liste">Liste des réclammations</a>
  <a href="#">Recherche des réclammations</a>
</div>

</div>

