<div class=bg>
  <br> <br> <br>
  <h1> Bienvenue sur notre application EasyMaintenance ^_^ </h1>

  <div class="vertical-menu" style="align-content: center;">
    <a href="/connectiontech" class="active">Accueil Technicien</a>
    <a href="/resolu">Liste de réclammations résolues</a>
    <a href="/nresolu" class="active">Liste de réclammations non résolues</a>
  </div>


  <div class="container-fluid" id="mycard">
    <div class="card">
      <div class="card-header">
        La liste des Reclamations
      </div>
      <div class="card-body">

        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">type de panne</th>
            <th scope="col">date de panne</th>
            <th scope="col">Etat</th>
            <th scope="col">Priorité</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>


          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let reclamation of mypanne">
            <th scope="row">#</th>
            <td>{{reclamation.type_panne }}</td>
            <td>{{reclamation.date }}</td>
            <td>
              <fa  name="cog" animation="spin"></fa>
            </td>
            <td>{{reclamation.disponibilite}}</td>
            <td>{{ reclamation.description }}</td>
            <td>
              <button  class="btn btn-success" (click)="validerReclamation(reclamation._id)">Valider</button>
            </td>

          </tr>
          </tbody>
        </table>



      </div>

    </div>
  </div>
</div>


