
<div class=bg>
  <br>
  <h1> La liste de vos Réclamations</h1>
<div class="vertical-menu">
  <a href="/connection" >Accueil Client</a>
  <a href="/creat" >Ajouter une réclamation </a>
  <a href="/liste" class="active">Liste des réclammations</a>
  <a href="#">Recherche des réclammations</a>
</div>

  <div class="container-fluid" id="mycard">
  <div class="card">
    <div class="card-header">
      La liste des Reclamations
    </div>
    <div class="card-body">

      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">type de panne</th>
          <th scope="col">date de panne</th>
          <th scope="col">Etat</th>
          <th scope="col">Priorité</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>


        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let reclamation of mypanne">
          <th scope="row">#</th>
          <td>{{reclamation.type_panne }}</td>
          <td>{{reclamation.date }}</td>
          <td>
            <fa *ngIf="reclamation.etat === 'valide'" name="check"></fa>
            <fa  *ngIf="reclamation.etat === 'pending'" name="cog" animation="spin"></fa>
          </td>
          <td>{{reclamation.disponibilite}}</td>
          <td>{{ reclamation.description }}</td>
          <td>
            <button  class="btn btn-danger " (click)="deleteReclamation(reclamation._id)">supp</button>
            <button  class="btn btn-info" (click)="editReclamation(reclamation._id)">modifier</button>
          </td>

        </tr>
        </tbody>
      </table>



    </div>

    </div>
  </div>
</div>
