

.bg {
  background-image: url('/../../assets/images/1.jpg');
  -moz-background-size: cover;
  background-size: cover;

  height: 100vh;
}


h1{
  color: #FF4500 ;
  text-align:center;
}


input[type="text"] {
  max-width: 100%;
}

#mycard{
  margin-right: 40px;

}

