.bg {
  background-image: url('/../../assets/images/1.jpg');
  -moz-background-size: cover;
  background-size: cover;
  height: 100vh;
}


h1{
  color: #FF4500 ;
  text-align:center;
}

p{
  color: #fff;
}

.form{
  float:center;
}

.loginBox
{
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-40%);
  width: 410px;
	height: 490px;
	padding: 2px 60px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}

input[type="text"] {
  max-width: 100%;
}

.loginBox input[type="submit"]
{
  position: absolute;
  top:88% ;
  left:10%;
	border: none;
	outline: none;
	height: 40px;
  width:  350px;
	color: #fff;
	font-size: 20px;
	background: #FF4500;
	cursor: pointer;
	border-radius: 25px;
  padding:2px;
  border-style:solid;
  border-width:1px;
  
 
}
