/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.vertical-menu {
  width: 300px; /* Set a width if you like */
  border: 1px solid #5cc5ff;
  padding: 8px;
  float:left;
  margin-left: 8px;
  margin-top: 25px;

}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 18px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #FF4500 ; /* Add a green color to the "active/current" link */
  color: white;
}


