
.bg {
  background-image: url('/../../assets/images/backgd.jpg');
  -moz-background-size: cover;
  background-size: cover;

  height: 100vh;
}

.loginBox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-63%);
	width: 440px;
	height: 460px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: #e6e6fa;


}

mat-form-field
{
  background: transparent;
  color: #000;
  width: 300px;
  margin-left: 20px;
}

.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
  width:  350px;
	color: #fff;
	font-size: 20px;
	background: #5ab5ea;
	cursor: pointer;
	border-radius: 20px;
}




::placeholder
{
  color: #000000;
}


.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
  margin-top: 20px;
}


